*{
  margin: 0;
  padding: 0;
}
.top{
  height: 600px;
  width: 100%;
  background-color: #083C5A;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(76,182,72,.3) 35px, rgba(76,182,72,.3) 70px);
}
.top-layer{
  height: 600px;
  width: 100%;
  background: url(../img/noise.png);
  background-repeat: repeat;
}

.middle{
  height: 600px;
  width: 100%;
  background-color: #083C5A;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(76,182,72,.3) 35px, rgba(76,182,72,.3) 70px);
}
.middle-layer{
  height: 600px;
  width: 100%;
  background: url(../img/noise.png);
  background-repeat: repeat;
}
